<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Results Page</h1>
    {{!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> --}}
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="list-group">
        <div id="sharp-results-section" class="row mb-4">
          <div class="col-sm-12">
            <h2>Post-Processing Metadata:</h2>
          </div>          
        {{#each images}}
          <div class="col-sm-6 sharp-result-card">
              <a
                href="/uploads/{{filename}}"
                data-format="{{format}}"
                data-width="{{width}}"
                data-height="{{height}}"
                data-size="{{size}}"
                data-filename="{{filename}}"
                class="list-group-item list-group-item-info list-group-item-action image-result-item"
                style="text-transform: uppercase; font-size:20px;"
                target="_blank"
              >
                {{device}} image <img src="/icons/box-arrow-up-right.svg" alt="external-link">
              </a>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">
                  Filename: {{filename}}
                </li>
                <li class="list-group-item list-group-item-light">
                  Format: {{format}}
                </li>
                <li class="list-group-item list-group-item-light">
                  Width: {{width}}px
                </li>
                <li class="list-group-item list-group-item-light">
                  Height: {{height}}px
                </li>
                <li class="list-group-item list-group-item-light">
                  Size: {{size}}
                </li>
              </ul>

              {{!-- <a href="#" class="list-group-item list-group-item-action active">Cras justo odio</a> --}}
          </div>
        {{/each}}
        </div>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="list-group">
        <div id="s3-results-section" class="row mb-4 d-none">
          <div class="col-sm-12">
            <h2>S3 Upload Response Metadata:</h2>
          </div>            
          {{!-- ajax success/fail response functions render metadata returned from s3 here --}}
        </div>
      </div>
    </div>
  </div>

  <form id="upload-form" class="mt-4" name="upload-form">
    {{!-- SUBMIT BUTTON --}}
    <div class="form-group row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-info mt-4" name="submit">
          Upload
        </button>
      </div>
    </div>  
    {{!-- SUBMIT BUTTON --}}
  </form>

</div>



